# Variables de entorno de Docker Compose
.env

# Archivos de entorno de desarrollo
.vagrant
*.log

# Archivos autogenerados por Python
**/__pycache__
*.py[cod]
*$py.class

# Archivos autogenerados por Ansible
*.retry
